body
{
	
}

#layout1
{
	/*background-image:url("img/comic-art2.jpg");
	border: solid black 1px;*/
	
}

#layout1 header
{
	border-radius:0.5em;
	
	
}

footer
{
	background-color:gray;
	color:white;
	padding:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

footer a
{
	color:white;
}