<div layout2>
		<div class="panel panel-default">
		  <div class="panel-heading">My Account</div>
		  <div class="panel-body">	
			<div class="col-sm-4">
				<form role="form" >
				  <div class="form-group">
					<label for="chgactualPassword">Actual Password:</label>
					<input type="password" class="form-control" id="chgactualPassword" ng-model="chg.actualPassword">
				  </div>
				  <div class="form-group">
					<label for="chgnewPassword">New Password</label>
					<input type="password" class="form-control" id="chgnewPassword" ng-model="chg.newPassword">
				  </div>
					<div class="form-group">
					<label for="chgnewPassword2">Retry New Password</label>
					<input type="password" class="form-control" id="chgnewPassword2" ng-model="chg.newPassword2">
				  </div>
				  <button type="button" class="btn btn-primary">Change Password</button>
				</form>
			</div>
		  </div>
		</div>
</div>