<div layout2>
	<div ng-controller="comicController">
		<div class="panel panel-default">
		  <div class="panel-heading">Advance Search</div>
		  <div class="panel-body">	  
			<form role="form" >
				<div class="form-group">
					<label for="searchByName">name:</label>
					<input type="text" class="form-control" id="searchByName" ng-model="search.name">
				</div>
			</form>			
		  </div>
		</div>
		
		<div ng-repeat="comic in comics|filter:search">
		
			<div class="col-sm-4">
				<div wiget-comic></div>
			</div>
				
		</div>
	
	</div>

</div>