<div layout2>
	<div ng-controller="characterController" >
		<div class="panel panel-default">
		  <div class="panel-heading">Search Character</div>
		  <div class="panel-body">	  
			<form role="form" >
				<div class="form-group">
					<label for="searchByName">name:</label>
					<input type="text" class="form-control" id="searchByName" ng-model="search.name">
				</div>
				<div class="form-group">
					<label ng-init="search.genres=''">Genre:</label>
					<div>
						<span>
							<input type="radio" ng-model="search.genres" value=""> all
						</span>
						<span ng-repeat="genereSearch in ['action','fiction','gang','super-human','nude','only-one','tecnology']">
							<input type="radio" ng-model="search.genres" value="{{genereSearch}}"> {{genereSearch}}
						</span>
					</div>
				</div>
			</form>
			
		  </div>
		</div>		
		
		
		<div ng-repeat="character in characters|filter:search|filter:genre1|filter:genre2">
		
			<div class="col-sm-4">
				<div wiget-character></div>
			</div>
				
		</div>
		
		
	</div>
</div>