<div class="container-fluid" id="layout1">
	<header>
		<div style="overflow:hidden; height:30em" ng-controller="advertisementController">
			<img class="img-responsive" ng-src ="{{urlAdvertisement}}" >
		</div>
		<h1>Globant Angular Comic Store</h1>
	</header>
	<div class="row body1" >		
	
		<div class="col-sm-4" >	
			
		</div>
		<div class="col-sm-4" ng-transclude>  </div>
		<div class="col-sm-4" >	
			
		</div>
				
	</div>
	
	<footer class="text-center">
		
		<div>
		<a href="[full link to your Twitter]">
		<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
		</a>
		<a href="[full link to your Pinterest]">
		<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
		</a>
		<a href="[full link to your Facebook page]">
		<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
		</a>
		<a href="[full link to your LinkedIn]">
		<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
		</a>
		<a href="[full link to your Instagram]">
		<img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
		</a>
		</div>
		<br>
		Cristian Diaz - 2015
	</footer>
	
</div>

