<div class="container-fluid" id="layout1" >
	<header ng-controller="sessionController" >	
		<div style="overflow:hidden; height:30em" ng-controller="advertisementController">
			<img class="img-responsive" ng-src ="{{urlAdvertisement}}" >
		</div>
		<h1>Globant Angular Comic Store</h1>
		<nav class="navbar navbar-default" ng-controller="navController">
		  <div class="container-fluid">		
			<div>
			  <ul class="nav navbar-nav">
				<li><a href="#/main">Main</a></li>
				<li><a href="#/main">Genres</a></li>
				<li><a href="#/main">Editions</a></li> 
				<li><a href="#/main">News</a></li>
				<li><a href="#/characters">Characters</a></li>	
				<li><a href="#/main" ng-show="isAdmin">Users</a></li>
				<li><a href="#/main" ng-show="isAdmin">Comics</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#/account"><span class="glyphicon glyphicon-home"></span> My Account</a></li>
				<li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
				<li><a ng-click="leaveAction()"><span class="glyphicon glyphicon-off"></span> Leave</a></li>			
			  </ul>
			</div>
		  </div>
		</nav>
	</header>
	<div class="row" >
		<aside class="col-sm-3">
			<nav class="navbar navbar-default" ng-controller="navController">
			
			<ul class="nav nav-pills nav-stacked ">
			   <li><a href="#/popular">Most Popular</a></li>
			   <li><a href="#/main">Qualifications</a></li>
			   <li><a href="#/main">Top Searches</a></li>			   
			   <li><a href="#/main">Recommended</a></li>
			   <li><a href="#/advanceSearch">Advanced Search</a></li>
			</ul>
			
			</nav>
		</aside>
		<div ng-transclude class="col-sm-9">
			body
		</div>
	</div>
	<hr>
	<footer class="text-center">
		<div>
		<a href="[full link to your Twitter]">
		<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
		</a>
		<a href="[full link to your Pinterest]">
		<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
		</a>
		<a href="[full link to your Facebook page]">
		<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
		</a>
		<a href="[full link to your LinkedIn]">
		<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
		</a>
		<a href="[full link to your Instagram]">
		<img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
		</a>
		</div>
		<a href="#/main">sitemap</a> |
		<a href="#/main">network</a> |
		<a href="#/main">disclaimer</a>
		
		<br>
		Cristian Diaz - 2015
	</footer>
</div>