<div layout2>

	<div ng-controller="profileController">

		<div class="panel panel-default">
		  <div class="panel-heading">My Profile</div>
		  <div class="panel-body">	  
			User: {{usuario.usuario}}
			<br>
			Real Name: {{usuario.nombreReal}}
			<br>
			Admin: {{(usuario.isAdmin == 1 ? "Yes " : "No ")}}
		  </div>
		</div>
	</div>

</div>