<div layout2>

	<div ng-controller="comicController">
		<div ng-repeat="comic in comics|filter:{isPopular:1}">
		
			<div class="col-sm-4">
				<div wiget-comic></div>
			</div>
				
		</div>	
	</div>

</div>