<div class="panel panel-default" >
  <div class="panel-heading text-center" >{{character.name}}</div>
  <div class="panel-body text-center">
		<img ng-src="{{character.img}}">
  </div>
  <div class="panel-footer">
	<span ng-repeat="genre in character.genres" >
		{{genre}}
	</span>
  </div>
</div>

