<div class="panel panel-default" >
  <div class="panel-heading text-center" >{{comic.name}}</div>
  <div class="panel-body text-center">
		<img ng-src="{{comic.img}}" >
  </div>
  <div class="panel-footer">
	{{(comic.isAvailable == 1)? "Available" : "Borrowed"}}
  </div>
</div>