
<div class="panel panel-primary" ng-controller="widgetLoginController">
  <div class="panel-heading">Welcome </div>
  <div class="panel-body">
  
	<form role="form" >
	  <div class="form-group">
		<label for="loginUsuario">User Name:</label>
		<input type="text" class="form-control" id="loginUsuario" ng-model="login.usuario">
	  </div>
	  <div class="form-group">
		<label for="loginPassword">Password</label>
		<input type="password" class="form-control" id="loginPassword" ng-model="login.password">
	  </div>	  
	  <button type="button" class="btn btn-primary" ng-click="loginAction(login)">Log in</button>
	</form>
	<br>
	<div class="panel-footer">
		<a href="#/">did you forget the password?</a> | 
		<a href="#/" data-toggle="modal" data-target="#myModal">Register</a>
	</div>
	
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" ng-controller="widgetLoginController">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
         <form role="form" >
		  <div class="form-group">
			<label for="registroUsuario">User Name:</label>
			<input type="text" class="form-control" id="registroUsuario" ng-model="registro.usuario">
		  </div>
		  <div class="form-group">
			<label for="registroPassword1">Password:</label>
			<input type="password" class="form-control" id="registroPassword1" ng-model="registro.password">
		  </div>
		  <div class="form-group">
			<label for="registroPassword2">Retry Password:</label>
			<input type="password" class="form-control" id="registroPassword2" ng-model="registro.password2">
		  </div>
		  <div class="form-group">
			<label for="registroNombreReal">Real Name:</label>
			<input type="text" class="form-control" id="registroNombreReal" ng-model="registro.nombreReal">
		  </div>
		  
		  <button type="button" class="btn btn-primary" ng-click="registerAction()" >Register</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>